<p id="notice"><%= notice %></p>

	<div class = "panel panel-primary">
			<div class- "panel-heading">
				<h2><%=@blog_post.title%></h2>
				<%#=d.strftime("Printed on %m/%d/%Y")%>  
				<%#d.strftime("at %I:%M%p")%>
				<%=@blog_post.created_at.strftime("%m/%d/%Y")%> 
				<%=@blog_post.updated_at.strftime("%I:%M%p")%> 
				<p><%=time_ago_in_words(@blog_post.created_at)%> ago</p>       
			</div>
			<div class= "panel-body">
			by <strong><%= @blog_post.user.username%></strong>
				<p><%=@blog_post.blog_entry %>
		  			
			</p>
		</div>
			<div class= "panel-footer">
		<p>	
			<%= link_to 'Edit', edit_blog_post_path(@blog_post), class: "btn btn-warning" %>
		</p>
		
		</div>
	</div>

<div class="panel panel-success">
	
  <div class="panel-heading">
	   <h4> Leave a Comment</h4>
  </div>
	<div class = "panel-body">
		<%=render 'comments/form' %>
    </div>
  <div>

<div class= "panel panel-default">
		<div class = "panel-header">
				<h4>Comments</h4>
			</div>
			<% @blog_post.comments.each do |comment|%>
				<div class = "panel-body">
				<p><%=time_ago_in_words(comment.created_at)%></p>
				<p> <strong><%= comment.author%></strong>
				said:<%=comment.comment_enter%></p>
				</p>
				</div>
		<%end%>
		</div>

<div>
<%= link_to 'Back to Index', blog_posts_path, class: "btn btn-success" %>
</div>